*{
    margin:0px;
    padding:0px;
}
body {
	background-image: url("bc.jpg");
	background-repeat: round;
}
.bc-blur {
	background-color: rgba(42,42,42,0.87);
	position: absolute; 
	top: 0; 
	left: 0; 
	height: 100%; 
	width: 100%;
}
.back a{
	color: #FFF;
}
.Form button{
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
.cred {
	margin: 0;
  	position: absolute;
  	top: 75%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
}
.cred a {
	color: #B3C5F4;
}
@media only screen and (max-width: 1800px) {
	body {
		background-repeat: no-repeat;
	}
	
}